*.onnx filter=lfs diff=lfs merge=lfs -text
*.weights filter=lfs diff=lfs merge=lfs -text
examples/0d4e4df2-7b69-91b1-1985-c8421f2f3253.jpg filter=lfs diff=lfs merge=lfs -text
examples/18cef191-74ed-2b5e-55a5-f58bd3d483ff.jpg filter=lfs diff=lfs merge=lfs -text
examples/1be4d40a-6fd0-42ce-da6c-294e45781f41.jpg filter=lfs diff=lfs merge=lfs -text
examples/1d3c85e9-ee24-f290-e7e1-6e338f2eaebb.jpg filter=lfs diff=lfs merge=lfs -text
examples/3e043302-af1c-75a7-4057-3a2f25c123bf.jpg filter=lfs diff=lfs merge=lfs -text
examples/43ecc08d-502a-7a51-9d68-3e40a76439a2.jpg filter=lfs diff=lfs merge=lfs -text
examples/479058af-e774-e6aa-a2b0-9a42dd6ff8b1.jpg filter=lfs diff=lfs merge=lfs -text
examples/7c910b87-ae3a-f580-d431-03cd89793803.jpg filter=lfs diff=lfs merge=lfs -text
examples/8fa04489-cd94-7d8f-7e2e-5f0fe2f7ae76.jpg filter=lfs diff=lfs merge=lfs -text
examples/bb7b4345-b98a-c727-4c94-6090f0aa4355.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/annotations.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/scout-gt-positive-margin-32-v0-v1-any-match-localizer-precision-recall-0.20-pr.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/scoutbot.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/tile-fp-weighting-2.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/vulcan-tile-gid-8135-num-patches-16-num-missed-0-tiles.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/0e396e60-c4ba-f6f6-fe2c-c4adf4c9d984.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/2cedec44-7a57-2b77-f819-1b36865a53a2.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/classifier-cameratrap-precision-recall-roc-target-recall-0.95-cleaned-recovery-false-pr.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/classifier-cameratrap-precision-recall-roc-target-recall-0.95-cleaned-recovery-false.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/resnet.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/vulcan-tile-gid-8135-num-patches-16-num-missed-0-cropped.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/classifier-cameratrap-precision-recall-roc-target-recall-0.95-cleaned-recovery-false-confusion.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/docker.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/github.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/scout-tile-gid-1065-num-patches-10-num-missed-0.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/scout-tile-gid-122-num-patches-24-num-missed-0.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/tile-fp-weighting-1.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/tile-fp-weighting-3.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/vulcan-tile-gid-8135-num-patches-16-num-missed-0.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/classifier-cameratrap-precision-recall-roc-target-recall-0.95-dirty-recovery-false.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/database.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/mvp_prediction.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/scout-gt-positive-margin-32-v0-v1-any-match-localizer-precision-recall-0.20-confusion.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/scout-tile-gid-1079-num-patches-15-num-missed-0.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/scout-tile-gid-1152-num-patches-13-num-missed-2.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/img/scout-tile-gid-1204-num-patches-55-num-missed-6.jpg filter=lfs diff=lfs merge=lfs -text
reports/mvp/Wild[[:space:]]Me[[:space:]]-[[:space:]]MWS[[:space:]]Phase[[:space:]]2[[:space:]]MVP[[:space:]]Report.pdf filter=lfs diff=lfs merge=lfs -text
