argparse
brunette
click
codecov
coverage
cryptography
flake8
gradio
ipython
numpy
onnx
onnxruntime
Pillow
pre-commit
pytest
pytest-cov
pytest-random-order
pytest-sugar
PyYAML
rich
Sphinx>=5,<6
sphinx_rtd_theme
torch
torchvision
tqdm
wbia-utool
wbia-vtool
python-opencv-headless
lightnet
scikit-learn
