click
codecov
coverage
cryptography
dill==0.3.7
gradio
imgaug
numpy
onnxruntime
opencv-python-headless==4.8.1.78
Pillow
pooch==1.8.0
rich
sahi
sphinx-click
torch
torchvision
tqdm
ultralytics
wbia-utool