click
codecov
coverage
cryptography
dill==0.3.7
gradio
imgaug
numpy
onnxruntime
opencv-python-headless==4.7.0.68
Pillow
pooch==1.8.0
rich
sahi==0.11.12
sphinx-click
torch
torchvision
tqdm
ultralytics==8.2.103
wbia-utool
